{% extends "base.html" %}

{% load filter %}

{% block content %}

    <link rel="stylesheet" href="../../../static/css/home_page.css" media="screen and (min-width: 1001px)">
    <link rel="stylesheet" href="../../../static/css/home_page_test_screen.css" media="screen and (max-width: 1000px)">

    <nav class="navbar navbar-expand-lg bg-danger fixed-top" style="box-shadow: 0 0 10px 0 rgba(62, 49, 49, 0.26)">
        <a class="navbar-brand" style="color: white" href="{% url 'home_page' %}">
            <h3>ParikmaherMD</h3>
        </a>
        <a href="#link1" class="contacts">
            <h5>О нас/Контакты</h5>
        </a>
    </nav>

    <div class="dropdown-button" style="text-align: center; margin-top: 90px; margin-bottom: 25px">
        <div class="dropdown-n open">
            <button class="btn btn-outline-danger btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                {{ area }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'home_page' %}">Все</a>
                <a class="dropdown-item" href="{% url 'hairdressing_area' 1 %}">Центр</a>
                <a class="dropdown-item" href="{% url 'hairdressing_area' 2 %}">Боюканы</a>
                <a class="dropdown-item" href="{% url 'hairdressing_area' 3 %}">Рышкановка</a>
                <a class="dropdown-item" href="{% url 'hairdressing_area' 4 %}">Чеканы</a>
                <a class="dropdown-item" href="{% url 'hairdressing_area' 5 %}">Ботаника</a>
            </div>
        </div>
    </div>
    {% for salon in hairdressing %}
        <div class="card mx-auto">
            <img src="{{ salon.main_image.url }}" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title"><a href="{% url 'hairdressing' salon.id %}">{{ salon.name }}</a>
                </h3>
                <hr style="margin-top: 1rem; margin-bottom: 1rem">
                <div class="open-close-section">
                    {% with salon.schedule_for_calculating|split:"," as tags %}
                        {% for day in tags %}
                            {% if local_date in day %}
                                {% if "Закрыто" in day %}
                                    <p class="card-text-closed float-right">Закрыто</p>
                                {% else %}
                                    {% if day|opening:"-" <= local_time|to_str %}
                                        {% if local_time|to_str <= day|closing:"-" %}
                                            <p class="card-text-opened float-right">Открыто</p>
                                        {% else %}
                                            <p class="card-text-closed float-right">Закрыто</p>
                                        {% endif %}
                                    {% else %}
                                        <p class="card-text-closed float-right">Закрыто</p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                    <p class="btn btn-danger phone">{{ salon.phone }}</p>
                </div>
                <div>
                    <p class="card-text area-address">{{ salon.area }}, {{ salon.address_location }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    <footer class="bg-light text-center text-lg-start" style="margin-top: 3rem;">
        <div class="bottom-footer">
            <div class="text-center p-4">
                <div class="footer-about-site">
                    <div>
                        <p class="about-site-name">О сайте:</p>
                        <p class="about-site-description"><span style="color: #dc3444">ParikmaherMD</span> - это сайт,
                            где
                            вы можете найти практически любую парикмахерску/салон
                            красоты города Кишинёва: от контактных данных до расписания конкретной парикмахерской и её
                            услуг.</p>
                    </div>
                    <div>
                        <p class="about-site-name">Контакты:</p>
                        <p class="about-site-description"><i class="far fa-envelope"></i> grrame22@gmail.com</p>
                        <p class="about-site-description"><i class="fas fa-phone-alt"></i> +37369801990</p>
                    </div>
                    <div>
                        © 2020 Copyright: <a class="text-danger" href="https://notreddit.live">Parikmaher.md</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}