{% extends "base.html" %}

{% load filter %}

{% block content %}

    <nav class="navbar navbar-expand-lg bg-danger fixed-top" style="box-shadow: 0 0 10px 0 rgba(62, 49, 49, 0.26)">
        <a class="navbar-brand" style="color: white" href="{% url 'home_page' %}">
            <h3>ParikmaherMD</h3>
        </a>
        <button class="btn btn-light search" data-toggle="modal" data-target="#searchModalCenter" type="button"
                style="margin-bottom: 0.5rem;"><i class="fas fa-search"></i></button>
        <a href="#link1" class="contacts">
            <h5>О нас/Контакты</h5>
        </a>
    </nav>


    <div class="search-modal">
        <div class="modal fade" id="searchModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="searchModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title text-center w-100">Поиск по названию</h1>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="text-align: center">
                        <form class="form" action="{% url 'home_page' %}">
                            <input class="form-control mr-sm-2" type="search" placeholder="Название заведения"
                                   aria-label="Search" style="font-size: 3rem" name="search">
                            <button class="btn btn-success" type="submit"
                                    style="font-size: 3rem; margin-top: 2rem">Поиск
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown-button" style="text-align: center; margin-top: 90px; margin-bottom: 25px;">
        <div class="dropdown-n open">
            <button class="btn btn-outline-danger btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" style="margin-left: 3rem; margin-right: 3rem">
                Районы
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'home_page' %}">Все</a>
                <a class="dropdown-item" href="{% url 'hairdressing_area' 1 %}">Центр</a>
                <a class="dropdown-item" href="{% url 'hairdressing_area' 2 %}">Боюканы</a>
                <a class="dropdown-item" href="{% url 'hairdressing_area' 3 %}">Рышкановка</a>
                <a class="dropdown-item" href="{% url 'hairdressing_area' 4 %}">Чеканы</a>
                <a class="dropdown-item" href="{% url 'hairdressing_area' 5 %}">Ботаника</a>
            </div>
        </div>
    </div>

    {% for salon in hairdressing %}
        <div class="card mx-auto">
            <img src="{{ salon.main_image.url }}" class="card-img-top">
            <div class="card-body">
                <h3 class="card-title"><a href="{% url 'hairdressing' salon.id %}">{{ salon.name }}</a>
                </h3>
                <hr style="margin-top: 1rem; margin-bottom: 1rem">
                <div class="open-close-section">
                    {% with salon.schedule_for_calculating|split:"," as tags %}
                        {% for day in tags %}
                            {% if local_date in day %}
                                {% if "Закрыто" in day %}
                                    <p class="card-text-closed float-right">Закрыто</p>
                                {% else %}
                                    {% if day|opening:"-" <= local_time|to_str %}
                                        {% if local_time|to_str <= day|closing:"-" %}
                                            <p class="card-text-opened float-right">Открыто</p>
                                        {% else %}
                                            <p class="card-text-closed float-right">Закрыто</p>
                                        {% endif %}
                                    {% else %}
                                        <p class="card-text-closed float-right">Закрыто</p>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                    <p class="btn btn-danger phone">{{ salon.phone }}</p>
                </div>
                <div>
                    <p class="card-text area-address">{{ salon.area }}, {{ salon.address_location }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="previous_and_next text-center">
        <div>
            {% if hairdressing.has_previous %}
                <a href="?page={{ hairdressing.previous_page_number }}">
                    <button class="btn btn-info btn-lg">← Предыдущая</button>
                </a>
            {% endif %}
        </div>
        <div>
            {% if hairdressing.has_next %}
                <a href="?page={{ hairdressing.next_page_number }}">
                    <button class="btn btn-info btn-lg">Следущая →</button>
                </a>
            {% endif %}
        </div>
    </div>

    <link rel="stylesheet" href="../../../static/css/home_page.css" media="screen and (min-width: 1001px)">
    <link rel="stylesheet" href="../../../static/css/home_page_test_screen.css" media="screen and (max-width: 1000px)">

{% endblock content %}