body {
    font-family: 'Langar', cursive;
    font-family: 'Roboto', sans-serif;
}

.card {
    box-shadow: 0 0 10px 0 rgba(62, 49, 49, 0.26);
    transition: 0.3s;
    width: 55rem;
    height: auto;
    margin-top: 1rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #b81212;
}

div.card-body img {
    width: 100%;
}

div.card-body a {
    text-decoration: none;
    color: black;
    margin-left: 1.3rem;
    font-size: 3rem;
}

div.card-body p.card-text-opened {
    color: #05b705;
    font-size: 1.9rem;
}

div.card-body p.card-text-closed {
    color: red;
    font-size: 1.9rem;
}

div.card-body p.phone {
    font-size: 1.7rem;
    display: inline-block;
    margin-left: 1.3rem;
}

div.card-body p.area-address {
    display: inline-block;
    margin-left: 1.3rem;
    color: #858383;
    font-size: 1.9rem;
}

.navbar-brand h3 {
    font-size: 3rem;
}

.dropdown-n {
    margin-top: 7.1rem;
}

.dropdown-n button, a {
    font-size: 3rem;
}

