body {
    font-family: 'Roboto Thin', sans-serif;
}

.card {
    box-shadow: 0 0 10px 0 rgba(62, 49, 49, 0.26);
    transition: 0.3s;
    width: 45rem;
    height: auto;
    margin-top: 1rem;
}

.card:hover {
    box-shadow: 0 8px 16px 0 #b81212;
}

div.card-body img {
    width: 100%;
}

div.card-body a {
    text-decoration: none;
    color: red;
    margin-left: 20px;
    font-size: 25px;
}

div.card-body p.card-text-opened {
    color: #05b705;
    font-size: 15px
}

div.card-body p.card-text-closed {
    color: red;
    font-size: 15px
}

div.card-body p.phone {
    font-size: small;
    display: inline-block;
    margin-left: 20px
}

div.card-body p.area-address {
    display: inline-block;
    margin-left: 20px;
    color: #858383
}

footer {
    background: #eaecef;
    text-align: center;
    margin-top: 3rem;
}

.footer-about-site div {
    margin-top: 2rem;
}

.bottom-footer div {
    background-color: #f5f4f4;
    text-decoration: none;
    font-size: 1rem;
    color: #dc3444;
}

.bottom-footer a {
    text-decoration: none;
    font-size: 1rem;
}

.about-site-name {
    font-size: 2rem;
    color: black;
}

.about-site-description {
    font-size: 1.3rem;
    color: black;
}

i {
    font-size: 2rem;
    color: #dc3444;
}

a.contacts {
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

div.previous_and_next div {
    display: inline-block;
    align-items: center;
}

.previous_and_next button {
    margin-top: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
}
