body {
    font-family: 'Langar', cursive;
    font-family: 'Roboto', sans-serif;
}

.footer-about-site div {
    margin-top: 2rem;
}

.bottom-footer div {
    background-color: #f5f4f4;
    text-decoration: none;
    font-size: 1rem;
    color: #dc3444;
}

.bottom-footer a {
    text-decoration: none;
    font-size: 1rem;
}

.about-site-name {
    font-size: 2rem;
    color: black;
}

.about-site-description {
    font-size: 1.3rem;
    color: black;
}

i {
    font-size: 2rem;
    color: #dc3444;
}

a.contacts {
    text-decoration: none;
    color: white;
    margin-left: 2rem;
}

.carousel-item {
    height: 37.5rem;
    width: 100%;
    overflow: hidden
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

div.hairdressing_name {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.hairdressing_name h2 {
    font-size: 3rem;
    margin-right: 2rem;
}

.hairdressing_name p {
    font-size: 2rem;
}

div.hairdressing_location {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.hairdressing_location h4 {
    margin-right: 2rem;
    color: #858383;
    font-size: 2rem;
}

.hairdressing_location button {
    font-size: 1.5rem;
}

.hairdressing_location p {
    font-size: 1.5rem;
}